<launch>

	<node name="iana_user_io" pkg="iana_user_io" type="web_socket_node.py" />

	<node name="iana_person_data" pkg="iana_person_data" type="person_data_node.py" />
 
	<node name="iana_person_detection" pkg="iana_person_detection" type="person_detection.py" >
		<remap from="face_image" to="/kinect2/qhd/image_mono" />
		<remap from="person_image" to="/kinect2/hd/image_color" />
	</node>
	
        <!-- IANA COMPONENTS -->
	<node name="iana_speech" pkg="iana_speech" type="iana_speech_node.py" />
	<node name="iana_navigation" pkg="iana_navigation" type="iana_navigation_node.py" />
 	<node name="iana_driver" pkg="iana_driver" type="iana_driver_node" />	
	<node name="iana_collision_detector" pkg="iana_collision_detector" type="look_ahead" />
	

	<node name="iana_controller" pkg="iana_controller" type="iana_controller_node.py" />
	
</launch>
