<launch>
	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find iana_start_up)/config/custom_rosconsole.conf" />
	<node name="iana_user_io" pkg="iana_user_io" type="web_socket_node.py" />

	<node name="iana_person_data" pkg="iana_person_data" type="person_data_node.py" />

	<node name="iana_camera_pan_tilt" pkg="iana_camera_pan_tilt" type="arduino_controller.py" />
        
	<include file="$(find zed_wrapper)/launch/zed.launch" />
	
	<node name="iana_person_detection" pkg="iana_person_detection" type="person_detection.py" output="screen">
		<remap from="/face_image" to="/zed/left/image_rect_color" />
		<remap from="/person_image" to="/zed/left/image_rect_color" />
		<param name="_scale_factor" value="0.2"></param>
	</node>
	
    <!-- IANA COMPONENTS -->
	<node name="iana_speech" pkg="iana_speech" type="iana_speech_node.py" />
	<node name="iana_navigation" pkg="iana_navigation" type="iana_navigation_node.py" />
 	<node name="iana_driver_random" pkg="iana_driver" type="driver_random_node.py" />	
	<node name="iana_driver_explore" pkg="iana_driver" type="driver_explore_node.py" />
	<node name="iana_collision_detector" pkg="iana_collision_detector" type="look_ahead" />
	<node name="iana_face_tracker" pkg="iana_face_tracker" type="iana_face_tracker_node.py" />
	

	<node name="iana_controller" pkg="iana_controller" type="iana_controller_node.py" output="screen" />
	
</launch>
