<launch>

	<include file="$(find kobuki_node)/launch/robot_with_tf.launch" />
	<include file="$(find zed_wrapper)/launch/zed2.launch" />
	
	<node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
		<param name="~output_frame_id" type="str" value="base_link" />	
	</node>

	<include file="$(find gmapping)/launch/slam_gmapping_pr2.launch" />

</launch>
