<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="/home/ubuntu/map/mymap.yaml.yaml"/> -->

  <!--- Run AMCL -->
  <!-- <include file="$(find amcl)/examples/amcl_omni.launch" /> -->

  <!-- Load configuration -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- <remap from="cmd_vel" to="navigation_velocity_smoother/raw_cmd_vel"/> -->
    <remap from="cmd_vel" to="mobile_base/commands/velocity" />
    <rosparam file="$(find iana_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find iana_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find iana_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find iana_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find iana_navigation)/param/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find iana_navigation)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find iana_navigation)/param/global_planner_params.yaml" command="load" />
    <rosparam file="$(find iana_navigation)/param/navfn_global_planner_params.yaml" command="load" />
  </node>

<!--  <node pkg="nodelet" type="nodelet" name="kobuki_safety_controller" args="load kobuki_safety_controller/SafetyControllerNodelet mobile_base_nodelet_manager">
    <remap from="kobuki_safety_controller/cmd_vel" to="cmd_vel_mux/input/safety_controller"/>
    <remap from="kobuki_safety_controller/events/bumper" to="mobile_base/events/bumper"/>
    <remap from="kobuki_safety_controller/events/cliff" to="mobile_base/events/cliff"/>
    <remap from="kobuki_safety_controller/events/wheel_drop" to="mobile_base/events/wheel_drop"/>
  </node> -->


<!--  <node pkg="nodelet" type="nodelet" name="navigation_velocity_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet mobile_base_nodelet_manager">
    <rosparam file="$(find iana_navigation)/param/smoother.yaml" command="load"/>
    <remap from="navigation_velocity_smoother/smooth_cmd_vel" to="mobile_base/commands/velocity"/>
-->
    <!-- Robot velocity feedbacks; use the default base configuration -->
<!--    <remap from="navigation_velocity_smoother/odometry" to="odom"/> -->
    <!-- <remap from="navigation_velocity_smoother/robot_cmd_vel" to="mobile_base/commands/velocity"/> -->
<!--  </node>
-->
</launch>
